.app-layout{
    padding : 2rem;
    background-color: #FAF8F4;
    min-height: 100vh;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

@media(max-width: 768px) {
    .app-layout{
        padding: 1rem;
    }
    .container{
        padding: 1rem;
    }
}