.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FAF8F4;
    border-bottom: 1px solid #ddd;
}

.logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav a{
    text-decoration: none;
    color: #2C2C2C;
    padding: 1rem;
}

.nav button{
    background: transparent;
    border: none;
    color: #A54242;
    cursor: pointer;
}