/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lora:wght@600&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FAF8F4;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10; 
}

.logo{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: "Lora", serif;
    color: #3B5BA5;
}

/* Burger icon caché au format desktop */
.burger{
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

/* Navigation */

.nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav a{
    text-decoration: none;
    color: #2C2C2C;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.nav a:hover{
    color: #3B5BA5;
}

/* .nav button{
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid blue;
    color: #A54242;
    cursor: pointer;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
}

.nav button:hover{
    background-color: #A54242;
    color: #fff;
} */

.user-menu{
    position: relative;
}

.user-icon{
    background: none;
    border: none;
    cursor: pointer;
}


.user-dropdown{
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 0.8rem 1rem;
    width: 200px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    z-index: 999;
    
}

.user-dropdown.open {
    opacity: 1;
    transform: translate(0);
    pointer-events: auto;
}

.user-dropdown-header {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.user-dropdown-header img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.user-dropdown p {
    font-weight: bold;
    color: #3b5ba5;
    margin: 0;
}

.user-dropdown button, .user-dropdown a{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.4rem 0;
    background: none;
    border: none;
    font-size: 0.95rem;
    cursor: pointer;
    color: #333;
    transition: background 0.2 ease;
}

.user-dropdown button:hover, .user-dropdown a:hover{
    background-color: #f0f0f0;
}

.avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .burger{
        display: block;
        color: #2C2C2C;
    }

    .nav{
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
        gap: 0.75rem;
        display: none;
        border-top: 1px solid #ddd;
    }

    .nav.open{
        display: flex;
    }
}